body {
   font-family: "Open Sans", sans-serif;
   line-height: 1.6;
}

.add-sm_users-input,
.edit-sm_users-input {
   outline: none;
}

.add-sm_users-input:focus,
.edit-sm_users-input:focus {
   border: none !important;
   box-shadow: none !important;
}

.view-opt-label,
.date-label {
   font-size: 0.8rem;
}

.edit-sm_users-input {
   font-size: 1.7rem !important;
}

.sm_users-actions {
   visibility: hidden !important;
}

.sm_users-username:hover .sm_users-actions {
   visibility: visible !important;
}

.sm_users-username.editing .sm_users-actions .edit-icon {
   display: none !important;
}